{%  block event_title %}
<!--Title-->
<h2>{{ actividad['title'] }}</h2>
{% endblock %}


{% block event_content %}
<!--Event-->
<div class="mmm">
    <p>
        <b>Organizador:</b> {{ actividad['author'] }}</h3>
    </p>
    <p>
        <b>Fecha:</b> {{ actividad['date'] }}
    </p>

    <p>
        <b>Precio:</b> {{ actividad['price'] }}
    </p>
    <p>
        {{ actividad['description'] }}
    </p>

    <div class="images-container">
        {% if actividad['photo'] %}
            <img
                class="shadow"
                loading="lazy"
                src={{ actividad['photo'] }}
                alt={{ actividad['title'] }}
            />
        {% endif %}

        {% for image in galeria %}
            <img
                class="shadow"
                loading="lazy"
                src={{ image }}
                alt={{ actividad['title'] }}
            />
        {% endfor %}
    </div>
</div>
{% endblock %}